<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" style="width: 100%;max-width: 120%;">
    <!-- Position Column -->

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th id="date" mat-header-cell *matHeaderCellDef>
        วันที่
      </th>
      <td mat-cell class="td-time" *matCellDef="let element">
        {{ element.startTime | formatDayTh }}
      </td>
    </ng-container>

    <!-- startTime Column -->
    <ng-container matColumnDef="startTime">
      <th id="startTime" mat-header-cell *matHeaderCellDef>เวลาเข้างาน</th>
      <td mat-cell class="td-time" *matCellDef="let element">
        {{ element.startTime | formatDateTh }}
      </td>
    </ng-container>

    <!-- endTime Column -->
    <ng-container matColumnDef="endTime">
      <th id="endTime" mat-header-cell *matHeaderCellDef>เวลาออกงาน</th>
      <td mat-cell class="td-time" *matCellDef="let element">
        {{ element.endTime | formatDateTh }}
      </td>
    </ng-container>

    <ng-container matColumnDef="remark">
      <th id="remark" mat-header-cell *matHeaderCellDef>หมายเหตุ</th>
      <td mat-cell *matCellDef="let element">
        {{ element.remark }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="row-item"mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  
  ></mat-paginator>
</div>
