.mat-header-cell,
.td-time {
  text-align: center;
}
::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
td,
.mat-header-cell {
  font-size: 1.3em;
  color: indigo;
}
.mat-row {
  cursor: pointer;
  color: white;
  transition: 0.2s;
}
.mat-row:hover {
  background-color: indigo;
  transition: 0.2s;
}
.mat-row:hover td {
  background-color: indigo !important;
  color: whitesmoke !important;
  transition: 0.2s;
}
.mat-header-row {
  background-color: #00ffff;
}
.mat-icon {
  vertical-align: middle;
}

.mat-sort-header-arrow{
  display: block !important;
}
/* จอเล็ก */
@media screen and (max-width: 640px) {
  td {
    font-size: 0.8em;
  }
  .mat-header-cell > span {
    display: none;
  }
  #sortItem {
    display: none;
  }
}
