<!-- <div class="wrap-sign-up">
      <form class="example-form">
            <mat-grid-list cols="2" rowHeight="100px">
                  <mat-grid-tile>
                        <mat-form-field appearance="outline">
                              <mat-label>รหัสพนักงาน</mat-label>
                              <input matInput class="input-id-employee">

                        </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                        <span class="example-button-row">

                              <button mat-flat-button color="primary">Primary</button>

                        </span>
                  </mat-grid-tile>
            </mat-grid-list>
      </form>
</div> -->

<div class="ui-g-12 animation-page" style="text-align: center;">
      <img src="../../../assets/images/banner.png" style="width:350px" /><br/><br/>
     <span style="font-size:2em"> ลงเวลาการทำงานล่วงเวลา และการทำงานไซต์</span>
</div>
<div class="ui-g-12">
      <div style="text-align: center;">
            <form class="form-sign-in">

                  <mat-form-field appearance="outline">
                        <mat-label>รหัสพนักงาน</mat-label>
                        <input matInput class="input-id-employee">

                  </mat-form-field>

                  <span class="example-button-row">

                        <button mat-flat-button color="primary">Primary</button>

                  </span>
            </form>
      </div>
</div>