<div class="p-grid animation-page ">
      <div class="p-col-12" style="text-align: center;">
            <img src="../../../assets/images/banner.png" style="height:20vh ;width: auto;" /><br /><br />
            <h1 class="header-text"> ลงเวลาการทำงานล่วงเวลา และการทำงานไซต์</h1>
      </div>
      <div class="p-lg-6 p-lg-offset-3 p-col-10 p-offset-1">
            <mat-card class="card">
                  <mat-card-title class="title-card">
                        เริ่มต้นใช้งาน
                  </mat-card-title>
                  <mat-card-content class="card-content">

                        <mat-form-field appearance="outline" class="input-id-employee">

                              <mat-label>รหัสพนักงาน</mat-label>
                              <input matInput class="input-id-employee">


                        </mat-form-field>

                        <button mat-flat-button class="btn-signin">
                              <i class="pi pi-chevron-right icon-btn"></i>
                              <div class="confirm-text">ยืนยัน<i class="pi pi-chevron-right"
                                          style="vertical-align: middle;"></i></div>
                        </button>

                  </mat-card-content>
            </mat-card>
      </div>
</div>