<div class="p-grid animation-page ">
  <div class="p-col-12" style="text-align: center;">
    <img
      src="{{ cdgImagePath }}"
      style="height:20vh ;width: auto;"
      alt="imgLogo"
    /><br /><br />
    <h1 class="header-text">ลงเวลาการทำงานนอกสถานที่ และการทำงานล่วงเวลา</h1>
  </div>
</div>
<div class="p-grid p-justify-center animation-page ">
  <div class="p-col-8 p-lg-10 p-md-12 " style="text-align: center;">
    <div class="p-grid">
      <div class="p-sm-12 p-lg-4 p-md-4" *ngFor="let item of menu">
        <mat-card>
          <mat-card-header class="align-center-card">
            <mat-card-title>{{ item.title }}</mat-card-title>
          </mat-card-header>

          <mat-card-content class="layout-wrapper">
            <br />
            <img
              mat-card-image
              src="{{ item.img }}"
              style="width:40%"
              alt="logo"
            />
            <br /><br />
          </mat-card-content>
          <mat-card-footer>
            <button mat-raised-button class="btn-menu">
              <div class="confirm-text" (click)="onClickItem(item)">
                ยืนยัน
                <em
                  class="pi pi-chevron-right"
                  style="vertical-align: middle;"
                ></em>
              </div>
            </button>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<p-toast key="errorMessage" position="bottom-center"></p-toast>
<p-toast key="SuccessMessage" position="bottom-center"></p-toast>
