<form [formGroup]="formGroupSideWork" (submit)="onSubmit()">
  <div class="p-grid">
    <div class="{{ formGrid }}">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label><mat-icon>schedule</mat-icon> เวลาเข้างาน</mat-label>
        <input
          readonly
          matInput
          [ngxMatDatetimePicker]="pickerStartTime"
          formControlName="startTime"
          (focus)="pickerStartTime.open()"
          />

        <mat-datepicker-toggle
          disabled="false"
          matSuffix
          [for]="pickerStartTime"
        ></mat-datepicker-toggle>

        <ngx-mat-datetime-picker #pickerStartTime> </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div class="{{ formGrid }}">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label><mat-icon>schedule</mat-icon> เวลาออกงาน</mat-label>
        <input
          readonly
          matInput
          [ngxMatDatetimePicker]="pickerEndTime"
          formControlName="endTime"
          (focus)="pickerEndTime.open()"        
        />
        <mat-error
          *ngIf="formGroupSideWork.get('endTime').hasError('wrongDate')"
        >
          * เวลาเลิกงานต้องมากกว่าเวลาเข้างาน
        </mat-error>
        <mat-datepicker-toggle
          disabled="false"
          matSuffix
          [for]="pickerEndTime"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerEndTime touchUi> </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>
    <div class="p-col-12">
      <div class="{{ formGrid }}">
        <mat-checkbox
          formControlName="workAnyWhere"
          [color]="'primary'"
          class="example-margin"
        >
          Work Anywhere
        </mat-checkbox>
      </div>
    </div>
    <div class="{{ formGrid }}">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label> <mat-icon>subject</mat-icon> หมายเหตุ</mat-label>
        <textarea formControlName="remark" matInput> </textarea>
      </mat-form-field>
      <mat-error
        class="animation-page"
        style="font-size: 10.5px;margin-top: -17px;"
        *ngIf="formGroupSideWork.get('remark').hasError('maxlength')"
      >
        * หมายเหตุใส่ข้อมูลได้ไม่เกิน 250 ตัวอักษร
      </mat-error>
    </div>
  </div>
  <p-messages [(value)]="msgs"></p-messages>
  <mat-dialog-actions class="wrap-btn">
    <button mat-button [color]="'warn'" mat-raised-button mat-dialog-close>
      <mat-icon>clear</mat-icon> ยกเลิก
    </button>
    &nbsp;
    <button mat-button [color]="'primary'" mat-raised-button type="submit">
      <mat-icon>check</mat-icon>ตกลง
    </button>
  </mat-dialog-actions>
</form>
