<!-- <app-banner [text]="'ปฏิทินการทำงานนอกสถานที่'"></app-banner> -->
<div class="p-grid p-justify-center animation-page">
    <div class="p-col-12 p-md-1"></div>
    <div class="p-col-12 p-md-10" style="color: #333377; font-size: 2.3em; text-align:center;">
        ปฏิทินการทำงานนอกสถานที่
    </div>
    <div class="p-col-12 p-md-1"></div>

    <div class="p-col-12 p-md-1"></div>
    <div class="p-col-12 p-md-10" >
        <p-fullCalendar #calendar cdgsFullCalendar (dateChange)="calendarChangeDate($event)" [options]="options"
            [events]="events" >
        </p-fullCalendar>
    </div>
    <div class="p-col-12 p-md-1" >
        <div *ngIf="showExcelExport == true" style="line-height: 50px">
            <button pButton pRipple type="button" label="Text" icon="pi pi-file" (click)="exportText()"
                class="p-button-rounded p-button-info text"></button>
            <button (click)="exportExcelClick()" pButton pRipple type="button" label="Excel" icon="pi pi-file-excel"
                class="p-button-rounded p-button-info excel"></button>
        </div>
        <div style="display: inline-flex;">
            <div id="WFHSquare"></div>
            &nbsp;
            <div style="margin: auto;">WFH</div> 
        </div>
        <br>
        <div style="display: inline-flex;">
            <div id="SiteWorkSquare"></div>
            &nbsp;
            <div style="margin: auto;">Site</div> 
        </div>
        <br>
        <div style="display: inline-flex;">
            <div id="OtherSquare"></div>
            &nbsp;
            <div style="margin: auto;">Other</div> 
        </div>
        <br>
        <div style="display: inline-flex;">
            <div id="ForgotCardSquare"></div>
            &nbsp;
            <div style="margin: auto;">ลืมบัตร</div> 
        </div>
        <br>
        <div style="display: inline-flex;">
            <div id="HolidaySquare"></div>
            &nbsp;
            <div style="margin: auto;">วันหยุด</div> 
        </div>  
    </div>
</div>

<p-toast key="errorMessage" position="bottom-center"></p-toast>
<p-toast key="SuccessMessage" position="bottom-center"></p-toast>

<p-overlayPanel #op>
    <div *ngIf="message == null && idSideWork != ''">
        หมายเหตุ: ไม่มี
    </div>
    <div *ngIf="idSideWork == ''">
        {{holidayMessage}}
    </div>
    <div *ngIf="message != null">
        หมายเหตุ: {{message}}
    </div>
</p-overlayPanel>
