html, body {
  margin: 0;
  padding: 0;
  font-family: "Kanit" !important;
  font-size: 14px;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
  background-color:whitesmoke;
}

#WFHSquare {
  width:30px;
  height: 30px;
  border-radius: 15%;
  background: SteelBlue;
}

#SiteWorkSquare {
  width:30px;
  height: 30px;
  border-radius: 15%;
  background: SeaGreen;
}

#OtherSquare {
  width:30px;
  height: 30px;
  border-radius: 15%;
  background: RebeccaPurple;
}

#ForgotCardSquare {
  width:30px;
  height: 30px;
  border-radius: 15%;
  background: Maroon;
}

#HolidaySquare {
  width:30px;
  height: 30px;
  border-radius: 15%;
  background: rgb(243, 127, 127);
}
#LeaveSquare {
  width:30px;
  height: 30px;
  border-radius: 15%;
  background: rgb(255, 165, 0);
  // background: rgb(248, 209, 137);
  // background: rgb(243, 127, 127);
}

.text{
  background-color: #008CBA; /* blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 95px;
}


.excel{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 95px;
}

.typeTab{
  display: inline-flex;
  position: relative;
  padding:3px 3px 3px 3px;

}

.typeText{
  margin: auto;
}
@media screen and (max-width: 640px) {
  .typeTab{
    display: inline-flex;
    padding:1px 1px 1px 1px;
  }
}

//Dialog Access
:host::ng-deep .ui-dialog-titlebar-close {
  display:none;
}
.titleAccess {
  font-size: 20px;
}
:host ::ng-deep .disable-scroll .ui-dialog-content {
  overflow: hidden !important;
}
.textDialogAccess .col-4 {
  text-align: right;
  padding: 8px 0;
}
.textDialogAccess .col-8 {
  padding: 8px 0 0 8px;
}

:host::ng-deep mat-form-field {
  width: 100%;
}

