table {
  width: 100%;
}

.empNo{
  width: 100px;
  text-align: center;
}

.empFirstName{
  width: 90px;
}

.empLastName{
  width: 120px;
}

.empType{
  width: 70px;
  text-align: center;
}

.empRemark{
  width: 150px;
}