<div class="p-grid p-justify-center animation-page">
  <app-banner [text]="x"></app-banner>
  <div class="p-col-10">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>home_work</mat-icon>
          &nbsp; ทำงานนอกสถานที่
        </ng-template>
        <app-history-side-work
          [sideWorkHistory]="(sideWorkHistory | async)?.data"
        ></app-history-side-work>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>access_time</mat-icon>
          &nbsp; ทำงานนอกเวลา
        </ng-template>
        <app-history-overtime-work
          [overtimeWorkHistory]="(overtimeWorkHistory | async)?.data"
        ></app-history-overtime-work>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<br /><br /><br />
