<div class="p-grid p-justify-center animation-page">
      
  <div class="p-col-10">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>home_work</mat-icon>
          &nbsp; ทำงานนอกสถานที่
        </ng-template>
        <app-history-side-work
          [sideWorkHistory]="(sideWorkHistory | async)?.data"
        ></app-history-side-work>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>access_time</mat-icon>
          &nbsp; ทำงานนอกเวลา </ng-template
        >Content 2
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
