// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cdgTimeAttendance-primary: mat-palette($mat-indigo);
$cdgTimeAttendance-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).

$cdgTimeAttendance-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$cdgTimeAttendance-theme: mat-light-theme(
  $cdgTimeAttendance-primary,
  $cdgTimeAttendance-accent,
  $cdgTimeAttendance-warn
);
$cdgTimeAttendance-theme2: mat-light-theme(
  $cdgTimeAttendance-primary,
  $cdgTimeAttendance-accent,
  $cdgTimeAttendance-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cdgTimeAttendance-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Kanit|Roboto&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
* {
  font-family: "Kanit";
}

h4 {
  font-family: "Kanit";
}

.mat-form-field-flex {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
mat-dialog-title {
  font-family: "Kanit";
}
.mat-button:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s;
}
.mat-button {
  transition: 0.3s !important;
}
.wrap-form > * {
  font-family: "Kanit" !important;
}
input:disabled,
textarea:disabled {
  color: indigo !important;
}

mat-dialog-container {
  display: none;
}
.tooltip-signout {
  background-color: indigo;
  padding: 10px;
  font-size: 1.3em;
  font-family: "Kanit";
  border-radius: 5px !important;
}
.img-form {
  width: 50px;
  height: auto;
}
.header-text {
  font-size: 2.5em !important;
  font-weight: bold !important;
  color: #333377 !important;
  font-family: "Kanit" !important;
}
.wrap-btn {
  display: flex;
  justify-content: flex-end;
  margin: 0 !important;
  margin-right: 10px !important;
 
}
.p-grid {
  margin: 0;
}
.animation-page {
  animation: fadeFromTop 0.5s;
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
