/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Kanit|Permanent+Marker|Roboto&display=swap");
html,
body {
  margin: 0;
  height: 100%;
  font-family: "Kanit";
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
* {
  font-family: "Kanit";
}

.animation-page {
  animation: fadeFromTop 0.4s;
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
