<div class="wrap-formSideWork animation-page">

  <div *ngIf="dataForm.type == 'add'">
    <!-- add -->
    <h2 mat-dialog-title>
      <img src="{{ img.imgInsert }}" class="img-form" alt="" />
      ลงเวลาทำงานนอกสถานที่
    </h2>
    <!-- componentAdd -->
    <app-insert-side-work-form (insertEmit)="emitSideWork($event)" (checkDateEmit)="checkDay($event)"
      [dateValid]="isDateValid"></app-insert-side-work-form>
  </div>

  <div *ngIf="dataForm.type == 'form'">
    <app-show-emp-by-day>

    </app-show-emp-by-day>
  </div>

  <div *ngIf="dataForm.type == 'edit'">
    <!-- edit -->
    <div class="p-grid">
      <div class="p-col-12 p-md-10">
        <h2 mat-dialog-title>
          <img src="{{ img.imgEdit }}" class="img-form" alt="" />
          แก้ไขการลงเวลาทำงานนอกสถานที่
        </h2>
      </div>
      <div class="p-col-12 p-md-2" *ngIf="empEdit==true">
        <button pButton pRipple type="button" label="รายชื่อ" 
        class="p-button-rounded p-button-info text" (click)="empList()"></button>
      </div>
    </div>
    <!-- componentEdit -->
    <app-edit-side-work-form (editEmit)="emitSideWork($event)" (deleteEmit)="deleteSideWork($event)"
      [dataForm]="dataForm"></app-edit-side-work-form>
  </div>

</div>