<form [formGroup]="formGroupSideWork2" (submit)="onSubmit()">
  <div class="p-grid">
    <div class="{{ formGrid }}">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>วัน/เดือน/ปี</mat-label>
        <input readonly matInput formControlName="date" />
        <mat-icon matSuffix>event</mat-icon>
      </mat-form-field>
    </div>
    <div class="{{ formGrid }}"></div>
    <div class="{{ formGrid }}">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>
          <mat-icon>call_missed</mat-icon> เวลาเข้างาน
        </mat-label>
        <input matInput formControlName="startTime" [ngxTimepicker]="pickerStartTime" [format]="24" readonly />
        <ngx-material-timepicker-toggle matSuffix [for]="pickerStartTime">
        </ngx-material-timepicker-toggle>
        <ngx-material-timepicker #pickerStartTime></ngx-material-timepicker>
        <mat-error *ngIf="formGroupSideWork2.get('startTime').hasError('required')">
          * กรุณากรอกเวลาเข้างาน
        </mat-error>
      </mat-form-field>
    </div>
    <div class="{{ formGrid }}">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>
          <mat-icon>call_missed_outgoing</mat-icon> เวลาออกงาน
        </mat-label>
        <input matInput formControlName="endTime" [ngxTimepicker]="pickerEndTime" [format]="24" readonly />
        <mat-error *ngIf="formGroupSideWork2.get('endTime').hasError('wrongDate')">
          * เวลาออกงานต้องมากกว่าเวลาเข้างาน
        </mat-error>
        <mat-error *ngIf="formGroupSideWork2.get('endTime').hasError('required')">
          * กรุณากรอกเวลาออกงาน
        </mat-error>
        <ngx-material-timepicker-toggle matSuffix [for]="pickerEndTime">
          <mat-icon style="-webkit-text-fill-color:blue">schedule</mat-icon>
        </ngx-material-timepicker-toggle>
        <ngx-material-timepicker #pickerEndTime></ngx-material-timepicker>
      </mat-form-field>
    </div>

    <div class="p-col-12">
      <div>
        <p-checkbox (click)="forgotCardCheck()" formControlName="checkWorkAnyWhere" value="0" label="ลืมบัตรพนักงาน" [binary]="this.formGroupSideWork2.get('checkWorkAnyWhere').value == 1">
        </p-checkbox>
        &nbsp;&nbsp;
        <p-checkbox (click)="workAnyWhereCheck()" formControlName="workAnyWhere2" label="Work Anywhere" [binary]="this.formGroupSideWork2.get('workAnyWhere').value == 1 || this.formGroupSideWork2.get('workAnyWhere').value == 2 || this.formGroupSideWork2.get('workAnyWhere').value == 3">
        </p-checkbox>
      </div>

      <div *ngIf="workAnywhereCheck == true" >
        <br>
        <p-radioButton formControlName="workAnyWhere" value="1" name="workAnyWhere" label="WFH" (click)="remarkChange()">
        </p-radioButton>
        &nbsp;&nbsp;&nbsp;
        <p-radioButton formControlName="workAnyWhere" value="2" name="workAnyWhere" label="Side" (click)="remarkChange()">
        </p-radioButton>
        &nbsp;&nbsp;&nbsp;
        <p-radioButton formControlName="workAnyWhere" value="3" name="workAnyWhere" label="Other" (click)="remarkChange()">
        </p-radioButton>
      </div>
    </div>

    <div>
      <mat-error class="animation-page" style="font-size: 10.5px;margin-top: -17px;" *ngIf="formGroupSideWork2.get('workAnyWhere').value == 2 && formGroupSideWork2.get('remark').hasError('required') || 
      formGroupSideWork2.get('workAnyWhere').value == 3 && formGroupSideWork2.get('remark').hasError('required')">
        <br>
        &nbsp;&nbsp;&nbsp; * กรุณากรอกหมายเหตุ
      </mat-error>
    </div>

    <mat-form-field appearance="outline" style="width:100%">
      <mat-label>
        <mat-icon>subject</mat-icon> หมายเหตุ
      </mat-label>
      <textarea formControlName="remark" (change)="remarkChange()" matInput> </textarea>
    </mat-form-field>
    <mat-error class="animation-page" style="font-size: 10.5px;margin-top: -17px;"
      *ngIf="formGroupSideWork2.get('remark').hasError('maxlength')">
      * หมายเหตุใส่ข้อมูลได้ไม่เกิน 250 ตัวอักษร
    </mat-error>
  </div>
  <p-messages></p-messages>

  <mat-dialog-actions class="wrap-btn">
    <button mat-button [color]="'warn'" mat-raised-button type="button" (click)="deleteSidework()">
      <mat-icon>delete</mat-icon> ลบรายการ
    </button>
    <button mat-button mat-raised-button mat-dialog-close>
      <mat-icon>clear</mat-icon> ยกเลิก
    </button>
    &nbsp;
    <button mat-button [color]="'primary'" mat-raised-button type="submit">
      <mat-icon>check</mat-icon>ตกลง
    </button>
  </mat-dialog-actions>
</form>